.bodyMyAccount{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .container-account{
        width: 20%;
        height: 35%;
        border: thin solid gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

       
        a{
            text-decoration: none;
            color: black;
            position: absolute;
            bottom: 1rem;
        }
    }
}