//fonte para titulo do site
@import 'https://fonts.googleapis.com/css2?family=Croissant+One&family=Great+Vibes&family=Inter:wght@300;400;500;600&family=Merriweather:ital,wght@1,300&family=Raleway:ital,wght@1,300&display=swap';

@import 'https://fonts.googleapis.com/css2?family=Croissant+One&family=Great+Vibes&family=Inter:wght@300;400;500;600&family=Merriweather:ital,wght@1,300&family=Raleway:ital,wght@1,300&family=Ruwudu&display=swap';

//importações de módulos
@import './modules/header.scss';
@import './modules/cadastro.scss';
@import './modules/login.scss';
@import './modules/index.scss';
@import './modules/minhaConta.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ruwudu;
}